
<div class="section mt10 mb7">
	<div class="container">
		<div class="row">
		<!-- <div class="col-sm-3" id="dashboardSideNav">
			<div class="panel panel-danger">
				<div class="panel-heading">Settings</div>
				<div class="panel-body">
					<div class="dashboard">
						<ul>
							<li><a href="#">Products</a></li>
							<li><a href="#">Followers</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">Stats</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->
		<div class="col-sm-10 col-sm-offset-1">
			<div class="panel panel-danger">
				<div class="panel-heading">Claeus Merchant Admin Panel</div>
				<div class="panel-body">
					<div class="dashboard">
						<div class="">
							<% if @store.products.blank? %>
									<h2>Welcome, Get started by listing your first item.</h2>
										
									<!-- Button products modal -->
									<br>
									<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">
									  Add new product
									</button>
							<% else %>
									<h2 class="text-center">Your products</h2>
									<% @store.products.each do |p|%>
										<div class="media">
												<div class="media-left">
														<%= image_tag p.images[0].thumb %>
												</div>
												<div class="media-body">
														<h4 class="media-heading"><%= link_to p.name, p %></h4>
														<p><%= p.price %></p>
														<div class="pull-right">
																<span class="label label-warning"><%= link_to "Edit", edit_product_path(p)%></span>
																<span class="label label-danger"><%= link_to "Delete", p, method: "Delete", data: "Are you sure you want to delete?"%></span>
														</div>
												</div>
										</div>
								<% end %>
							<% end %>

								
								<!-- <a href="#" class="btn btn-danger" id="storeSettings">Settings</a>
								<div class="store-form">
									<%= render 'stores/form' %>
								</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
			
		</div>
	</div>
</div>



<!-- New Product Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new product</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "products/form" %>
      </div>
      
    </div>
  </div>
</div>