
<div class="store-front bg-white">
  <div class="row">
    <div class="container">
      <div class="col-sm-12">
        <h1 class="text-center"><%= @store.name.capitalize %></h1>
        <p class="text-center"><%= @store.tagline.capitalize %></p>
        <div class="store-cat">
          <%#<li><a href="#">Shoes</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Belts</a></li>%>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="container-fluid">
    <div class="row">
      <% @store.products.each do |product| %>
      <div class="col-sm-6 col-md-4 col-lg-2 col-xs-6">
        <div class="thumbnail">
          <%= image_tag (product.image.medium), class: "img-responsive" %>
          <div class="caption">
            <h3><%= product.name %></h3>
            <p><%= number_to_currency(product.price) %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
