


<div class="section mt10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                  <div class="img-rounded">
                    <%= image_tag(@user.avatar) %>
                  </div>
                </div>
                <div class="col-sm-9">
                    <h2> Hey, i'm <%= @user.full_name %></h2>
                    <p><strong>Member Since: <%= @user.created_at.strftime("%D")%></strong> </p>
                    <!-- <span>100 Followers</span> | <span>12 groups</span> -->
                    <% if @user.store %>
                        <p>Owns: <%= link_to @user.store.name.capitalize, store_path(@user.store) %></p>
                    <% end %>
                    <hr>

                    <!-- <p class="about">
                      <% if @user.about_me === "" %>
                        <%= link_to "Write something short about yourself", edit_user_registration_path(@user) %>
                      <% else %>
                        <%= @user.about_me %>
                      <% end %>
                    </p> -->
                </div>
                <% if user_signed_in? && current_user === @user %>
                    <p><%= link_to "Edit Details" , edit_user_registration_path %></p>
                        <% if current_user.store.blank?  %>
                        <p>Do you have some products to sell?</p>
                        <%= link_to "Start selling", new_store_path, class: "btn btn-danger" %>
                        <% else %>
                            <p>Visit your shop and add nice functions to it.</p>
                        <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
