


  <div class="section mt10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <%= image_tag(@user.avatar.medium) %>
                </div>
                <div class="col-sm-9">
                    <h2> Hey, i'm <%= @user.full_name %></h2>
                    <p><strong>Member Since: <%= @user.created_at.strftime("%D")%></strong> </p>
                    <span>100 Followers</span> | <span>12 groups</span>
                    <% if @user.store %>
                        <p>Owns: <%= link_to @user.store.name.capitalize, store_path(@user.store) %></p>
                    <% end %>
                    <hr>

                    <p class="about"><%= @user.about_me %></p>
                </div>
                <% if user_signed_in? && current_user === @user %>
                    <p><%= link_to "Edit Details" , edit_user_registration_path %></p>
                <% end %>
            </div>
        </div>
    </div>
</div>
        
