<div class="home-hero bg-white">
  <div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="">
              <h1>Browse items and experience a unique shopping experience.</h1>
              <%= form_tag search_products_path,  method: :get do |f| %>
                <div class="input-group input-group-lg">
                  <%= text_field_tag :search, nil, placeholder: "Search products & stores", class: "form-control input-lg" %>
                  <span class="input-group-btn"><%= submit_tag "Search", class: "btn btn-danger btn-lg" %></span>
                </div>
              <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="section mt10">
      <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#latest_stores" data-toggle="tab"><strong>Latest Stores</strong></a></li>
            <li role="presentation"><a href="#latest_products" data-toggle="tab"><strong>Products</strong></a></li>
        </ul>

        <!-- Tab Panes -->

          <div class="tab-content">
            <div class="tab-pane fade in active" id="latest_stores">
              <div class="row pt6">
                <% @latest_stores.each do |s|%>
                  <div class="col-sm-3 col-xs-6">
                    <div class="thumbnail">
                      <%= image_tag s.logo , class: "img-responsive"%>
                    </div>
                  </div>
                  <% end %>
                </div>
            </div>
            <div class="tab-pane fade in" id="latest_products">
              <div class="row pt6">
                <% @latest_products.each do |p| %>
                  <div class="col-md-2 col-sm-2 col-xs-6 ">
                    <div class="thumbnail">
                      <%= image_tag(p.images[0]) %>
                      <div class="caption">
                        <h3><%= link_to p.name, p %></h3>
                        <p class="amount"><%= number_to_currency(p.price, unit: "GHS") %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section">
  <div class="container">
    <div class="text-center">
      <p class="lead">Claeus is the home of emerging brands. A place where you can  <%= link_to "Launch a store", sell_path %> in minutes.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Subscribe to our weekly newsletter.</h3>
        <form class="" action="index.html" method="post">
          <div class="input-group">
            <label for=""></label>
            <input type="text" class="form-control input-lg" id="" placeholder="">
            <span class="input-group-btn"><button type="button" name="button" class="btn btn-danger btn-lg">Subscribe</button></span>
          </div>

        </form>

      </div>
      <div class="col-sm-6">
        We shall help you convert your visitors to customers
      </div>
    </div>
  </div>
</section> -->
