<div class="home-hero bg-white">
  <div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="">
              <h1>Browse items and experience a unique shopping experience.</h1>
              <%= form_tag search_products_path,  method: :get do |f| %>
                <div class="input-group input-group-lg">
                  <%= text_field_tag :search, nil, placeholder: "Search products & stores", class: "form-control input-lg" %>
                  <span class="input-group-btn"><%= submit_tag "Search", class: "btn btn-danger btn-lg" %></span>
                </div>
              <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
<section class="container">
  <div class="row">
    <div class="section mt10">
      <div class="col-sm-10 col-sm-offset-1">
        <h3>Latest Products</h3>
        <div class="row">
          <% @latest_products.each do |p|%>
            <div class="col-sm-3 col-xs-6">
              <div class="thumbnail">
              <%= image_tag p.images[0] , class: "img-responsive"%>
                <div class="caption">
                <h3><%= link_to p.name.capitalize, p %></h3>

                <hr>
                <div class="caption-bottom ">
                  <p class="pull-left">by: <%= p.store.name %></p>
                  <span class="amount pull-right">GHS <%= p.price.round %></span>
                </div>

                <!-- <p><%= link_to p.store.name, store_path(p.store) %></p> -->
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
