<div class="bg-white">
    <div class="container">
        <div class="text-center-xs mt5-xs mb7 mb3-xs">
            <div class="row ">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="ph6 pt6 pt0-sm pt0-xs">
                <h1 class="ma0">
                Shoppers can't wait to see your products
                </h1>
                <p class="lead mt4 mb5">Whether you sell online already or you've had ideas about selling online, Claeus give you the right tools just to get you started.</p>
                <%= link_to "Get started", new_store_path, class: "btn btn-danger btn-lg button" %>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-gray-super-light curve-container">
  <div class="curve"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="bg-white shadow-box pa6 home-shadow-box clearfix">

          <!-- <%= image_tag("shop.svg", width:"70px") %> -->
            <div class="text pl5">
            <h3 class="mt0 mb3 text-w-700">Create your Store</h3>
            <p class="ma0">Create a store easily.</p>
          </div>
        </div>
      </div>
    <div class="col-md-4 col-sm-12">
      <div class="bg-white shadow-box pa6 home-shadow-box clearfix">
        <!-- <%= image_tag("price-tag.svg", width: "70px") %> -->
        <div class="text pl5">
          <h3 class="mt0 mb3 text-w-700">Add your products</h3>
          <p class="ma0">Theres no limit to what you can sell.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="bg-white shadow-box pa6 home-shadow-box clearfix">
        <!-- <%= image_tag("price-tag.svg", width: "70px") %> -->
        <div class="text pl5">
          <h3 class="mt0 mb3 text-w-700">Share with your followers</h3>
          <p class="ma0">Drive traffic to your awesome store by sharing ir with your followers.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<div class=" bg-white home-feature-overview">
    <div class="container">
        <div class="row section mb7">
          <h3 class="text-center text-muted page-header">Features</h3>
            <div class="col-md-6 col-sm-12">
                <div class="media pb5">
                    <div class="media-left media-top">
                        <div class="icon"><%= image_tag("monitor.svg", class: "media-object img-responsive") %></div>
                    </div>
                    <div class="media-body media-top">
                        <h3 class="h-bold media-heading">Beautiful storefront</h3>
                        <p>Get started easily with a beautiful and mordern storefront.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="media pb5">
                    <div class="media-left media-top">
                        <div class="icon"><%= image_tag("note.svg", class: "media-object img-responsive") %></div>
                    </div>
                    <div class="media-body media-top">
                        <h3 class="h-bold media-heading">Email Marketing</h3>
                        <p>Capture email addresses and and let your contacts know your products and offers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="media">
                    <div class="media-left media-top">
                        <div class="icon"><%= image_tag("internet.svg", class: "media-object img-responsive") %></div>
                    </div>
                    <div class="media-body media-top">
                        <h3 class="h-bold media-heading">Easy store management</h3>
                        <p>Manage everything from one Admin Panel</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="media pb5">
                    <div class="media-left media-top">
                        <div class="icon"><%= image_tag("responsive.svg", class: "media-object img-responsive") %></div>
                    </div>
                    <div class="media-body media-top">
                        <h3 class="h-bold media-heading">Responsive Design</h3>
                        <p>Your store works fine on all devices from Desktops to Laptops and smartphones.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="media pb5">
                    <div class="media-left media-top">
                        <div class="icon"><%= image_tag("commerce.svg", class: "media-object img-responsive") %></div>
                    </div>
                    <div class="media-body media-top">
                        <h3 class="h-bold media-heading">Online payment and invoicing</h3>
                        <p>Your store works fine on all devices from Desktops to Laptops and smartphones.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="media pb5">
                    <div class="media-left media-top">
                        <div class="icon"><%= image_tag("customer-service.svg", class: "media-object img-responsive") %></div>
                    </div>
                    <div class="media-body media-top">
                        <h3 class="h-bold media-heading">Help when you need it</h3>
                        <p>Your store works fine on all devices from Desktops to Laptops and smartphones.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
