<div class="container mt10">
  <div class="panel panel-default pt6">
    <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <%= image_tag (@product.image.medium), class: "img-responsive" %>
        </div>
        <div class="col-sm-7">
           <span class="label label-danger">
          <%=  @product.category.name %>
        </span>
        <p class="lead">By: <%= link_to @product.store.name.capitalize, store_path(@product.store), class: "btn btn-link" %></p>
        <h3><%= @product.name.capitalize %></h3>
        <span class="star-rating" data-score=<%= @avg_rating %>></span> |  <span><%= @product.reviews.count %> Customer reviews</span>
        <h4> <%= number_to_currency(@product.price) %></h4>
        <label>Description:</label>
        <p><%= @product.description%></p>

        <button type="button" name="button" class="btn btn-danger">Contact Seller</button>
        <button type="button" name="button" class="btn btn-danger">Add to cart</button>
        <span>Already purchaed this product? <%= link_to "Write a review", new_product_review_path(@product)%></span>
         <br><br>
         <p class="lead"><strong>Reviews</strong></p>
        <% if @review.blank? %>
          <p>No reviews yet</p>
        <% else %>
          <% @review.each do |r| %>
            <div class="star-rating" data-score=<%= r.rating %>></div>
            <p><%= r.comment %></p>
            <span>By: <%= r.user.email %></span>
          <% end %>
        <% end %>

        <% if (user_signed_in?) && (current_user == @user) %>
          <%= link_to "Edit", edit_product_path(@product) %>
          <%= link_to 'Back', products_path %>
          <%= link_to "Delete", @product, method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
        </div>
      </div>
      <hr>
      <br>
      <div class="container">
        <div class="row">
          <% for asset in @product.assets %>
          <div class="col-sm-4 col-sm-offset-1">
            <div class="thumbnail">
              <%= image_tag(asset.image.medium)%>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

