<footer class="footer-primary clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12 pbm">
            <p class="lead amount"><strong>Claeus, Inc.</strong></p>
            </div>
            <div class="col-sm-2 col-sm-offset-2 col-xs-4 col-xs-offset-0">
                <h4 class="h-bold">Company</h4>
                <ul class="list-unstyled">
                    <li><%= link_to "About Us", about_path %></li>
                    <!-- <li><%= link_to "Blog", blog_path %></li> -->
                    <li><%= link_to "Contact Us", contact_path %></li>
                </ul>
                <div class="fb-like" data-href="http://www.claeus.com/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="col-sm-2 col-sm-offset-1 col-xs-4 col-xs-offset-0">
                <h4 class="h-bold">Business</h4>
                <ul class="list-unstyled">
                    <li><%= link_to "Sell on Claeus", sell_path %></li>
                    <!-- <li><%= link_to "Advertise", advertise_path %></li> -->
                    <li><%= link_to "FAQs", support_path %></li>
                </ul>
            </div>
            <!-- <div class="col-sm-2 col-xs-4 col-xs-offset-0">
                <h4 class="h-bold">Help</h4>
                <ul class="list-unstyled">
                    <li><%= link_to "Support", support_path %></li>
                    <li><%= link_to "Privacy", privacy_path %></li>
                    <li><%= link_to "Terms", terms_path %></li>
                </ul>
            </div> -->
        </div>
        <div class="row pt6">
            <div class="col-sm-12">
              <div class="text-center">
                <p class=" footer-copyright">
                    ©
                    2017
                    claeus. All Rights Reserved.
                </p>
              </div>

            </div>
        </div>
    </div>
</footer>
