<!DOCTYPE html>
<html>
  <head>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6569617553535399",
        enable_page_level_ads: true
      });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Claeus - Enjoy a unique shopping experience"%></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <body class="bg-white">


    <%= render 'layouts/header' %>
      <div class="container">
        <% if notice.present? %>
          <aside class="alert alert-success close.bs.alert">
          <%= notice %>
          </aside>
        <% end %>
        <% if alert.present? %>
          <aside class="alert alert-danger">
            <%= alert %>
          </aside>
        <% end %>
      </div>
    <%= yield %>
    <%= render 'layouts/footer' %>


    <script>
      $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
              return $(this).attr('data-score');
      }
    });
  </script>
  </body>
</html>
