<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claeus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-grey">
    <%= render 'layouts/header' %>
      <% if notice.present? %>
        <aside class="alert alert-info">
        <%= notice %>
        </aside>
      <% end %>
      <% if alert.present? %>
        <aside class="alert alert-danger">
          <%= alert %>
        </aside>
      <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
